<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>updateServer</servlet-name>
		<servlet-class>vpm.gae.server.UpdateServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>serverList</servlet-name>
		<servlet-class>vpm.gae.server.ServerList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reServer</servlet-name>
		<servlet-class>vpm.gae.server.ReServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>version</servlet-name>
		<servlet-class>vpm.gae.server.Version</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateServer</servlet-name>
		<url-pattern>/server/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serverList</servlet-name>
		<url-pattern>/server/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reServer</servlet-name>
		<url-pattern>/cron/reserver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>version</servlet-name>
		<url-pattern>/version</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>sites/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
